       body {
            background-color: black;
        }

        #wrap {
            margin: 5% 7%;
            width: 1600px;
            height: 700px;
            border: dashed 10px white;
        }
        #userinterface{
            float:left;
            margin: 10px 10px;
            width: 300px;
            height: 260px;
            border: 5px solid white;
            color:white;
            font-family:mybit;
            font-size:20px;
            text-align:center;
        }
        .menuA{
            padding-top:30px;
            text-align:center;
            border:solid 5px white;
            margin-left:10px;
            margin-top:300px;
            width:300px;
            height:330px;
            line-height:50px;
            position:absolute;
        }
        .Abutt{
            margin-top:7%;
            border:0;
            color:white;
            background-color:black;
            font-size:40px;
            font-family:mybit;
        }
        .Abutt:hover{
            color:gray;
	background-color:white;
            cursor:pointer;
            border-bottom:dashed gray 5px;
        }
        #menuB{
            margin-top:6px;
            border:0;
            color:white;
            background-color:black;
            font-size:40px;
            font-family:mybit;
            z-index:1;
            display:none;
            position:absolute;
            width:400px;
            height:140px;
            text-align:left;
        }
        .toggle{
            display:none;
        }
        #toggle:checked ~ #menuB{
            display:block;
            transform:translate(298px, -382px);
        }
        select{
            margin:0;
            background-color:black;
            width:225px;
            height:60px;
            font-family:mybit;
            color : white;
            font-size:20px;
            transform:translate(10px,-25px);
            border:solid 3px white;
        }
        #gameimg{
            width:160px;
            height:175px;
            border:solid 3px white;
        }
        #rdr2{
            z-index:-1;
            border:0;
            position:absolute;
            width:1250px;
            height:700px;
            text-align:center;
            transform:translate(-400px,-15px);
        }
        input[type='radio']:checked + label > span{
            border-bottom:dashed gray 5px;
            color:black;
	background-color:white;
        }
        #story{
            margin-left:300px;
            margin-top:-440px;
            border:solid 5px white;
            color:white;
            background-color:black;
            font-size:50px;
            font-family:mybit;
            width:300px;
            height:650px;
            text-align:left;
            overflow-y:scroll;
            overflow-x:hidden;
            padding-left:10px;
            display:none;
            position:absolute;
        }
        #toggle2:checked ~ #story{
            display:block;
        }
        #story::-webkit-scrollbar{
            background-color:black;
        }
        #story::-webkit-scrollbar-thumb{
            background-color:gray;
        }
        label > img{
            width:100px;
            height:100px;
            border-radius:20px;
        }
        #stor{
            position:absolute;
            border:0;
            width:900px;
            height:660px;
            margin-left:650px;
            margin-top:-435px;
            display:none;
        }
        .atoggle{
            display:none;
        }
        #toggle2:checked ~ #stor{
            display:block;
        }
        